@font-face {
    font-family: 'bai-jamjuree-reg';
    src: url(fonts/BaiJamjuree-Regular.ttf);
}

@font-face {
    font-family: 'bai-jamjuree-bold';
    src: url(fonts/BaiJamjuree-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bai-jamjuree-reg;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url(image/clear-white-plaster-texture-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



a {
    text-decoration: none;
}


.btn {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3rem !important;
}

.btn-love {
    width: 120px;
    font-size: 20px !important;
    background-color: #8cd4b2 !important;
}

.btn-noLove {
    width: 120px;
    font-size: 20px !important;
    background-color: #d48c8c !important;
}

.btn-love,
.btn-noLove {
    transition: all 0.25s ease, font-size 0.25s ease;
}

a.btn-love {
    padding-block: .5rem;
    margin-top: 2rem;
    color: black;
    width: 120px;
    font-size: 20px !important;
}

.btn-back {
    padding-block: .5rem;
    margin-top: 2rem;
    color: black;
    width: 120px;
    font-size: 20px !important;
    background-color: #c2c1c2 !important;
}


.wrap-btn {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-confirm {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
    height: 8.5rem;

    background-image: url(image/RedStory.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;
    font-size: 26px;
    text-decoration: none;
    font-family: bai-jamjuree-bold;
    margin-top: 18rem;
}



/* ทำให้มันลื่นๆ */
.btn-love,
.btn-noLove {
    transition: all 0.25s ease;
    max-width: 100%;
}

/* เอฟเฟกต์เด้งปุ๊ง */
.pop {
    animation: pop 0.5s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

/* เอฟเฟกต์สั่นนิดๆ ตอนกดรักแต่ยังไม่ให้ไป */
.shake {
    animation: shake 0.35s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-6px);
    }

    50% {
        transform: translateX(6px);
    }

    75% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(0);
    }
}

/* fade out ปุ่มไม่รัก */
.fade-out {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.message-4u {
    margin-top: 1rem;
    line-height: 1.6rem;
    font-size: 18px;
    color: #333;
}

/* เคอร์เซอร์กระพริบ */
#typeText {
    display: inline;
    border-right: 2px solid orange;
    padding-right: 4px;
    white-space: pre-wrap;
    /* ⭐ สำคัญ: ให้ขึ้นบรรทัดใหม่ได้ */
}


.deck {
    position: relative;
    width: 220px;
    height: 300px;
    margin-top: 30px;
}


.card.b {
    background-image: url('image/2a76d12c-15b2-44d8-8036-4c7367c40eb1.jpg');
    background-size: 102.5% 101.5%;
    background-position: center;
}

.card.k {
    background-size: 101% 102%;
    background-position: 0% -5px;
    width: 400px;
    height: 550px;
    transform: scale(.5, .5);
    transform-origin: left top;
    padding: 1.6rem;
}

.card.g {

    z-index: 1;
    /*   transform:rotateZ(0) !important; */
}

.card {
    width: 200px;
    height: 275px;
    border-radius: 8px;
    margin-bottom: 4px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    border: 1px solid #616161;
    background-color: #e6d1ec;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.6s;
    font-size: 18px;
    z-index: 0;
    /*   transform-origin: left top; */
}

.card p {
    padding: 0px;
    margin-top: 0px;
}

.flip-container .card {
    -webkit-font-smoothing: antialiased;
    transform-origin: right top;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    z-index: 2;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg) translate(-55%, -55%);
    z-index: 50;
}

.flip-container.hide .flipper {
    z-index: -1;
    /*   transition: 0.3s; */
    /*   transition-delay: 0.3s; */
    animation: animationFrames linear .55s;
    animation-iteration-count: 1;
}

.flip-container.hide .card {
    z-index: -1;
}

.flip-container .b {
    box-shadow: none;
}

.flip-container.flip .front .card {
    transform: scale(2, 2);
}

.flip-container.flip .back .card {
    transform: scale(1, 1);
}

.flipper,
.front,
.back {
    width: 200px;
    height: 275px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: left center;
}

/* hide back of pane during swap */
.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    /* 	z-index: 2; */
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

@keyframes animationFrames {
    0% {
        transform: translateX(0) rotateY(180deg);
        z-index: 1;
    }

    50% {
        transform: translateX(-200%) rotateY(0deg) rotateZ(15deg) scale(.7, .7);
        z-index: -10;
    }

    100% {
        transform: translateX(0) rotateY(0deg) scale(.9, .9);
        z-index: -10;
    }
}

/* Message page */

/* .card {
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #dbcfb4;
    clip-path: polygon(0% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 0% 100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 20px;
    height: 20px;
    margin: -20px auto;
    border-radius: 50%;
    background-color: #3d3d3d;
    border: 10px solid green
}

.card_wrapper {
    width: calc(100% - 100px);
    height: calc(100% - 60px);
    overflow: auto;
    position: relative;
    top: 30px;
    left: 30px;
}

.card_message {
    min-height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 700;
    color: green;
    outline: 1px solid black;
    line-height: 32px;
    vertical-align: bottom;
    background-size: 1px 32px;
    background-repeat: repeat;
    background-position: 0px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1em'%3E%3Crect id='background' height='3em' width='1' y='0' x='0' fill='none'/%3E %3Cline id='underline' y2='1em' x2='0' y1='1em' x1='1' stroke='%23008000' fill='none'/%3E %3C/svg%3E");
} */


/*---------- Letter open <3 -----------*/
.wrapper {
    height: 200px;
    width: 300px;
    background-color: rgb(211, 165, 201);
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
    border-top: 100px solid rgb(211, 165, 201);
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
    border-top: 100px solid rgb(211, 165, 201);
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid rgb(224, 206, 224);
    border-bottom: 100px solid rgb(224, 206, 224);
    border-left: 150px solid rgb(229, 196, 214);
    z-index: 3;
}

.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    color: #3B4049;
}

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}